{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "color-hex-length": "long",
    "order/order": [
      {
        "type": "at-rule",
        "name": "include"
      },
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      {
        "type": "at-rule",
        "name": "include",
        "hasBlock": true
      }
    ]
  }
}
